h1, h2 {
  letter-spacing: -.02em;
}

.logo {
  margin-top: 20px;
}

.title {
  color: rgb(66, 136, 228);
  margin: 20px;
}

.hrm {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}
.hrm table {
  border-collapse: separate;
  border-spacing: 30px 0;
}
td {
  padding: 10px 0;
}

.loader {
  margin-right: auto;
  margin-left: auto;
  width: max-content;
}

#connected,
#deltaNegative {
  color: green;
  font-weight: bold;
}

#error,
#deltaPositive {
  color: red;
  font-weight: bold;
}

.line {
  max-height: 400px;
  margin: 0 50px;
}

.line canvas {
  border: 2px solid black;
  max-width: 100%;
  padding-bottom: 0.5em;
  border: none;
}

.card {
  margin-top: 2%;
}
.card button {
  margin-right: 20px;
  margin-bottom: 0%;
  border-width: 2px;
  border-color: #4983d4;
}

.pii {
  margin: 40px auto;
  max-width: 80%;
  padding: 0em;
  text-align: center;
  opacity: 0.8;
  font-size: 14px;
}

.App canvas {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
}

.App {
  text-align: center;
}

.game-wrap {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  height: 100px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.banner .line {
  max-height: 100%;
  margin: 0;
}

.stats {
  font-size: 10px;
  text-align: left;
  margin: 0 10px;
  text-shadow: 1px 1px 3px black;
}

.stats dd {
  margin: 0;
  font-weight: bold;
  font-size: 12px;
}

.banner button {
  margin: 10px;
  background-color: #fff;
  color: #555;
}

.banner .line canvas {
  background-color: transparent;
  border: none;
}

.intel-logo {
  margin-top: 20px;
  max-height: 51px;
}

.logos-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos-wrap em {
  font-style: normal;
  margin: 0 20px;
  font-size: 80px;
  font-weight: 100;
  opacity: 0.2;
}
