#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  margin-bottom: 60%;
}

.card button {
  margin-right: 20px;
  border-width: 2px;
  border-color: #4983d4;
}

.spectro {
  color: #4983d4;
}

.hrm {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

.hrm table {
  border-collapse: separate;
  border-spacing: 30px 0;
}

td {
  padding: 10px 0;
}

.loader {
  margin-right: auto;
  margin-left: auto;
  width: max-content;
}

#connected, #deltaNegative {
  color: green;
  font-weight: bold
}

#error, #deltaPositive {
  color: red;
  font-weight: bold
}

#recording {
  color: #4983d4;
  font-weight: bold
}
